.sendMoney {
  // width: 40%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;

  //   grid-template-rows: 5;
  .receiver {
    display: grid;
    grid-template-columns: 25% 75%;

    input[type="text"],
    input[type="email"],
    input[type="Number"],
    select {
      width: 100%;
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 4px;
      resize: vertical;
    }
    input[type="text"],
    input[type="email"],
    input[type="Number"],
    select,
    label {
      margin-bottom: 2rem;
    }

    label {
      padding: 12px 12px 12px 0;
      display: inline-block;
    }

    button[type="submit"] {
      grid-column: 1/3;
      width: 100%;
      background-color: #4caf50;
      color: white;
      padding: 14px 20px;
      margin: 8px 0;
      border: none;
      border-radius: 4px;
      cursor: pointer;
    }

    button[type="submit"]:hover {
      background-color: #45a049;
    }
  }
}
